.container{
    width: 1900px;
}
.header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #313131;
}
.logo1{
    margin-left: 22px;
    margin-right: 22px;

}
.head-title{
    width: 124px;
    font-size: 22px;
    color: #FFFFFF;
}
.head-logo{
    display: flex;
        width: 180px;
    /*padding-left: 25px;*/
    /*padding-right: 25px;*/
}
.head-logo2{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: #111111;
    color: #f48e0b;
    border: none;
}
.find{
    width: 68px;
    height: 70px;
    margin-left: 25px;

    background-color: #111111;
    border: none;
}
.find:active{
    background-color: #111111;
}
.head-menu{
    flex-basis: 85%;
    display: flex;
    justify-content: center;
}
.head-menu-link{
    margin-left: 25px;
    color: #FFFFFF;
    align-content: center;
    text-transform: uppercase;
}
.head-menu-link:hover{
   color: #14B9D5;
}
.bg-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    background-image: url("../image/header-bg.jpeg");
    background-attachment: fixed;
   }
.bg-flex-text{
    margin-top: 164px;
    font-size: 27px;
    color:  #FFFFFF;
    font-weight: bold;
    }
.bg-flex-button{
    display:flex;
    margin-top: 44px;
    margin-bottom: 74px;
    gap: 20px;
    text-align: center;
}
.button-sub{
    background: #89CA62;
    width: 170px;
    height: 55px;
}
.button-best{
    background: #14B9D5;
    width: 170px;
    height: 55px;
}
.bg-link{
display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 16px;
}
.hotel-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1030px;
    width: 100%;
    background: #F2F2F2;
}
.hotel-title{
    margin-top: 49px;
    font-size: 27px;
    font-weight: bold;
    color: #18B4CF;
    text-align: center;
    }
.hotels-info{
    margin-top: 53px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
      width: 1170px;
    height: 900px;
    gap: 30px;
}
.hotels{
    width: 370px;
    margin-bottom: 20px;
        padding-bottom: 5px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.hotels-img{
    margin-bottom: 22px;
}
.hotels-title{
    display: flex;
    margin-bottom: 20px;
    font-size: 18px;
    color: #353A3D;
    justify-content: center;
    font-weight: bold;
}
.grid-part{
    margin-top: 200px;
    height: 588px;
    background-image: url("../image/parallax-bg.jpeg");
    background-attachment: fixed;
    }
.clients-title{
    padding-top: 106px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 87px;
}
.line{
    margin-left: 920px;
    margin-bottom: 106px;
}
.clients{
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    margin-left: 510px  ;
    margin-right: 509px;
    justify-content: space-between;
    align-items: center;
}
.grid-part2{
    background: rgba(0, 0, 0, 0.0001);
}
.rated-title{
    margin-top: 49px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;

}
.rated-places{
    margin-top: 52px;
    display: grid;
    grid-template-columns:repeat(7, 271px);
}
.news{
    margin-top: 48px;
    line-height: 37px;
     font-weight: bold;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}
.news-items{
    margin-top: 51px;
    margin-left: 372px;
    background:none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
        width: 1165px;
    grid-gap: 45px;
      display: grid;
    grid-template-areas:
            'item1 item1 item1 item2 '
            'item3 item3 item4 item4'
            'item5 item5 item6 item6'
             'item7 item8 item8 item8'
;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, auto);
}
.item{

}
.item1{
    display: grid;
    grid-area: item1;
    grid-template-columns: 483px 374px;
    background: #F9F7F7;
}
.item1-title{
    margin-top: 44px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;

}
.item1-text{
    line-height: 21px;
        font-size: 14px;
        text-align: right;
    color: #5B6469;
}
.item2{
    margin-right: 0;
    display: grid;
    grid-area: item2;
    background: #F9F7F7;
    }
.item2-title{
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}
.item3{
    margin-right: 50px;
    width: 554px;
    display: grid;
    grid-area: item3;
    background: #F9F7F7;
}
.item3-title{
    margin-right: 14px;
    margin-top: 14px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;}
.item3-text{
    margin-right: 14px;
    line-height: 21px;
    font-size: 14px;
    text-align: right;
    color: #5B6469;
}
.item4{
    display: grid;
    grid-area: item4;
    background: #F9F7F7;
}
.item5{
    width: 554px;
    display: grid;
    grid-area: item5;
    background: #F9F7F7;
}
.item6{
    display: grid;
    grid-area: item6;
    background: #F9F7F7;
}
.item7{
    display: grid;
    grid-area: item7;
    background: #F9F7F7;
}
.item8{
    display: grid;
    grid-area: item8;
    grid-template-columns: 483px 370px;
    background: #F9F7F7;
}
.footer{
    width: 1900px;
    margin-top: 77px;
    display: flex;
    justify-content: space-around;
    background: #000000;
    height: 80px;
    align-items: baseline;


}
.copy{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.vector{
    display: inline-block;
    margin-top: 29px;
}