body{
    font-family: sans-serif;
    max-width: 1280px;
}
.container{
       padding: 25.5px 330px;
    width: 100%;

}
.top-text{

    margin-left: 72px;
    color: #FF0000;
    size: 18px;
    font-weight: bold;
    display: inline-block

}
.content{
    color: #373737;
}
.content-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 38px;
    margin-top: 48px;
    margin-left: 253px;
    margin-right: 253px;

}
.content-text{

    width: 1145px;
    font-size: 16px;
    line-height: 26px;
        text-align: center;
    margin-bottom: 28px;
    margin-left: 67.5px;
}
.content-link{
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 66px;
    margin-left: 544.5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    background: #FF0000;
    border-radius: 4px;
    width: 191px;
    height: 51px;
}
.copyright{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #373737;
    margin: 82px 105px 29px 713px;
}




