* {
    margin: 0;
    padding: 0;
}
* {box-sizing: border-box}
body {
    font-family: sans-serif;
}
.container {
    max-width: 1480px;
    margin: 0 auto;
}
.head-title{
    font-size: 80px;
    height: 94px;

color: black;
}
.mda-blue{
    color: aqua;
}
.header-menu {
    font-size: 24px;
    width: 1280px;
    height: 72px;
    background-color: #35444F;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 48px;
}
.header-item{
    border: 1px solid white;
    height: 72px;
    align-items: center;
    padding: 25px 33px 22px 32px;
    color: #FFFFFF;
}
.header-item:hover {
    background-color: #222F3A;
}
.center{
    display: flex;
}
.aside-menu{
    height: 400px;
        width: 344px;
    font-size: 27px;
    border: 1px solid #495863;
       }

.aside-item{
    padding-top: 26px;
    padding-left: 44px;
    padding-bottom:25px ;

}
.aside-item-link{
    color: #495863;
    width: 100%;
}
.aside-item:hover{background-color:#DBDBDB;
    padding-left: 54px;

}
.aside-item-link:hover{
    color: black;
}
.main-item{
    margin-left: 52px;
    width: 885px;
    color: #f48e0b;
    border: 1px solid rgba(0, 0, 0, 1);
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-img{

       width: 320px;
    height: 381px;

}
.main-info{
    margin-top: 35px;
    margin-left: 396px;
    display: block;
        width: 885px;
    }
.text{
    margin-top: 35px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;

}
.footer-nav{
    width: 1280px;
    margin-top: 54px;
display: flex;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
}
.footer-menu{
    display: flex;

    height: 69px;
    font-size: 28px;

    align-items: center;
    justify-content: start;
}
.footer-item{
    margin-left: 40px;
    width:  875px;
}
.footer-item:hover{
    color: blue;
}
.copyright{
    font-size: 24px;
    width:190px;
    margin-left: 135px;
   color:  #010101;

}
