.container{
    width: 1366px;
    height: 768px;
    background-image: url("../image/background 1.png");
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    width: 1028px;
    height: 61px;
    margin-left: 161px;
    padding-top: 51px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    color: #FFFFFF;
}
.logo:hover {
    color: #F26522;
}
.logo:hover .logo-house{
    background-image: url("../image/logo orange.png");
}
.logo-house{
    width: 53px;
    height: 47px;
    background-image: url("../image/logo white.png");
}
.logo-house:hover{
    background-image: url("../image/logo orange.png");
}
.logo-text{
    margin-left: 8px;
    font-weight: bold;
}
.logo-text-m{
    font-size: 29px;
    line-height: 29px;
}
.logo-text-h{
    margin-top: 3px;
    font-size: 18px;
    line-height: 18px;
}
.contacts{
    height: 61px;
    width: 219px;
    }
.mail-div{
    text-align: right;
}
.mail{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.mail:hover{
    color: #F26522;
}
.tel-div{
    margin-top: 19px;
    text-align: right;

}
.tel{
     font-size: 18px;
     line-height: 18px;
     color: #FFFFFF;
 }
.tel:hover{
    color: #F26522;
}
.content{
    margin-top: 17px;
    margin-left: 165px;
    width: 1030px;
    height: 565px;
    grid-gap: 37px 65px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    
    }
.content-item{
    width: 300px;
    height: 270px;
    position: relative;
	overflow: hidden;
    }
    .image{
        width: 300px;
height: 220px;
    }
.content-hover{
    margin-top: 165px;
    margin-left: 2px;
    position: absolute;
	bottom: -1000px;
	background: #F26522;
    height: 1x00%;
	transition: 1s;
	box-sizing: border-box;
	opacity: 0;
	pointer-events: none;
    width: 295px;
    height: 55px;
    color: #FFFFFF;
}
.text-hover{
    margin-top: 7px;
    margin-left: 16px;
    font-size: 10px;
    line-height: 10px;
}
.price{
    display: flex;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 37px;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.evro{
    font-size: 20px;
    line-height: 20px;
}
.details{
    font-size: 14px;
line-height: 14px;
}
.details::after {
    display: inline;
    width: 8px;
    height: 8px;
    content: "";
    position: absolute;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    text-align: center;
    transform: rotate(135deg);
    margin-left: 16px;
     
}
.content-item:hover .title{
    color: #F26522;
}
.content-item:hover  .content-hover {
	opacity: 1;
	top: 0;	
	pointer-events: all;
    }

.title{
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.title:hover{
    color: #F26522;
}
.footer{
    margin-top: 49px;
    margin-left: 530px;
    font-size: 12px;
line-height: 12px;
color: #FFFFFF;
}

