.container {
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../image/background.png);
width: 1366px;
height: 770px;

}
.top {
    display: flex;
width: 100%;
height: 58px;
background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #FFFFFF;
justify-content: space-between;
    align-items: center;
}
.title{
    margin-left: 79px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}
.contacts{
    display: inline-flex;
    height: 24px;
    align-items: center;
    margin-right: 79px;
}
.link{
    color: #FFFFFF;
    }
    .link:hover{
        color: #01813F;;
    }
   .path:hover{
        fill:#01813F
    }
.img{
    margin-left: 27px;
    }
.sign{
    width: 180px;
    margin-left: 27px;
      
    font-size: 14px;
line-height: 14px;    
}
.content{
    position: relative;
    margin-left: 461px;
    margin-top: 54px;
background: #FFFFFF;
   width: 444px;
height: 584px;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.registr-title{
    padding-top: 29px;
    padding-left: 61px;
    padding-right: 51px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   }
.registr-sign{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.registr-log{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.registr-log:hover{
    color: #01813F;
    text-decoration: underline;
}
.cobe{
    position: absolute;
    top: 31px;
   }
.registr-society{
    margin-left: 60px;
    margin-top: 11px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.registr-society-link{
    width: 160px;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #305DB8;
    color: #FFFFFF;
}
.registr-society-link:hover{
    background: #022263;
}
.registr-society-link:last-child{
    background: #DF4A32;
}
.registr-society-link:last-child:hover{
    background: #AB1F09;
}
.face{
    display: flex;
    position: relative;
    align-items: center;
}
 .face::after{
    position: absolute;
    content: url(../image/line.png);
    right: -19px;
    width: 1px;
    height: 28px;
    color: #0A162F;
    opacity: 0.1;
} 
.google{
    display: flex;
    position: relative;
    align-items: center;
}
.google::after{
    position: absolute;
    content: url(../image/line.png);
    right: -7px;
    width: 1px;
    height: 28px;
    color: #0A162F;
    opacity: 0.1;
}
.or{
    margin-top: 31px;
    margin-left: 58px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    display: flex;
    align-items: center;
}
.or::before,
.or::after{
    content: '';
width: 152px;
height: 1px;
background: #F2F2F2;
margin-inline: 5px;
}
.registr-form{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
        }

.registr-field{
    margin-top: 11px;
    padding-left: 15px;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.registr-field:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    outline: none;
}

.checkbox{
    display: flex;
    margin-top: 12px;
    font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #434343;
}
.check{
    display: none;
}
.check:checked + .check-agree{
content: url(../image/Vector\ 1.png);
}

.check-agree{
    width: 20px;
height: 20px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #F2F2F2;
}
.agree{
    margin-left: 8px;
}
.terms{
    color: #3CB878;
}
.terms:hover{
    color: #01813F;
    text-decoration: underline;
}
.create{
    margin-top: 20px;
font-size: 16px;
line-height: 16px;
align-items: center;
color: #FFFFFF;
width: 324px;
height: 46px;
border: 1px;
background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
outline: none;
}
.create:hover{
    background: #01813F;
}